/* NavBar.module.css */
.navbar {
  padding: 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: red;
  gap: 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: blueviolet;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  
  
}

.navbar li {
  list-style: none;
  
}

.navbar a {
  padding: 15px;
font-weight: 600;
font-size: 19px;
letter-spacing: -1.4px;
color: #092de2;
text-decoration: none;
}

.navbar a:hover {
cursor: pointer;
color: red;
}

.navbar a:visited,a:link {
  color: blue;
}

.navbar a:active {
  color: red;
}

